body {
  background-color: white;
  display: flex;
  justify-content: center;
}
h1{
  font-size: 50px;
}
.contenedor {
  display: block;
  width: 800px;
  margin-top: 120px;
}.titulo {
  text-align: center;
}
.centrar{
  text-align: center;
}
.menu-lista {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
}
.menu-boton {
  display: block;
  width: 100%; /* Hace que el botón ocupe todo el ancho del contenedor */
  text-align: center; /* Alinea el texto del botón a la centro */
  background-color: #CF0A0A; /* Cambia el color de fondo según sea necesario */
  color: #fff; /* Cambia el color del texto según sea necesario */
  font-size: 40px;
  font-weight: bold; 
  border: none; /* Elimina el borde del botón */
  padding: 30px; /* Añade relleno al botón según sea necesario */
  margin: 0; /* Elimina el margen del botón */
}
/*.new-task {
  display: block;
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  height: 40px;
  border-color: aquamarine;
  border-width: 4px;
  text-align: center;
  font-size: 24px;
}*/