:root{
    --colorPrincipal: #CF0A0A;
    --colorSecundario: #DC5F00;
    --negro: #000000;
    --blanco: #FFFFFF;
    --blancoSecundario: #EEEEEE;
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    background-color: #f5f6f7;
}

h1{
    max-width: 100%;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 4rem 0;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor-principal{
    min-height: auto;
    width: auto;
}

.enlaces{
    color: inherit;
    text-decoration: none;
}